body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gap {
  gap: 1rem;
}

.no-text-decoration {
  text-decoration: none;
}

.flex {
  display: flex;
}

.thumbnail {
  max-height: 250px;
  width: 350px;
  object-fit: cover;
}

.mailchimp>div>div {
  color: white !important;
}

.mailchimp>div>div>a {
  color: white !important;
}

.mailchimp>div>input {
  border-radius: 0;
  border: transparent;
}

.mailchimp>div>input:focus {
  outline: none;
  border: 1px solid #212529;
  box-shadow: 0 0 15px #212529;
}

.mailchimp>div>button {
  background-color: #212529;
  color: white;
  border-radius: 0;
  border: transparent;
}

.mailchimp>div>button:hover {
  filter: brightness(.8);

}

.mailchimp>div>button:focus {
  outline: none;
  border: 1px solid #212529;
  box-shadow: 0 0 15px #212529;
}

.social {
  transition: all .2s ease-in-out;
}

.social:hover {
  transform: scale(1.1);
}